.git
.venv
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.DS_Store
.idea
.vscode
__pycache__
*.pyc
*.pyo

.artifacts
node_modules
build
dist

**/.venv
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/node_modules
**/build
**/dist
