XIAN_ABCI_DIR=../xian-abci
XIAN_CONTRACTING_DIR=../xian-contracting
XIAN_PY_DIR=../xian-py
XIAN_COMETBFT_HOME=./.cometbft
XIAN_BDS_DATA_DIR=./.bds.db
XIAN_CONTRACTS_DIR=./contracts
XIAN_STACK_SECRETS_ENV=./.stack-secrets.env
XIAN_PUBLIC_RPC_ENABLED=0
XIAN_PUBLIC_QUERY_ENABLED=0
XIAN_PUBLIC_METRICS_ENABLED=0
XIAN_COMETBFT_RPC_HOST=127.0.0.1
XIAN_COMETBFT_METRICS_HOST=127.0.0.1
XIAN_APP_METRICS_HOST=127.0.0.1
XIAN_POSTGRAPHILE_USER=xian_graphql
XIAN_POSTGRAPHILE_HOST=127.0.0.1
XIAN_POSTGRAPHILE_PORT=5000
